---
component: article--text-img-teaser
---

{{! USED IN:
	* pages/subpage.hbs
}}

<article>
	<h2>{{ articleImageTeaserTitle }}</h2>
	{{#with img-teaser.teasers}}
	{{! data/blocks/img-teaser.json }}

		{{#each teaser}}
			{{> _teaser }}
		{{! partials/modules/ }}
		{{/each}}
	{{/with}}
</article>