---
title: Carousel with jQuery
type: Module
---
{{#extend "tpl_default"}}

	{{#content "body"}}

		<article>
			<h2 id="custom-carousel-examples">Custom Carousel Examples</h2>

			<p>These Examples show some personal best practices. It provides a way:</p>
			<ul class="list">
				<li>to structure your files in components</li>
				<li>to split data from templates</li>
				<li>to pass options via parseJSON to your components</li>
			</ul>

		</article>

		{{#with carousel-01}}

			{{#parseJSON
			'{
				"carousel-id": "gallery-01",
				"carousel-class": "custom-class",
				"carousel-type": "article",
				"carousel-pagination": true,
				"limit-start": "0",
				"limit-end": "3",
				"article-header": true,
				"article-summary": "150"
			}'
			}}

				{{partial "m-carousel" ../this}}

			{{/parseJSON}}

		{{/with}}

		{{#with carousel-02}}

			{{#parseJSON
			'{
				"carousel-id": "gallery-02",
				"carousel-class": "custom-figure-class",
				"carousel-type": "figure",
				"carousel-pagination": true,
				"carousel-autoscroll": "true",
				"limit-start": "0",
				"limit-end": "5"
			}'
			}}

				{{partial "m-carousel" ../this}}

			{{/parseJSON}}

		{{/with}}

	{{/content}}

	{{#content "scripts" mode="append"}}
		<script src="js/vendor/jquery.js"></script>
		<script src="js/vendor/picturePolyfill.js"></script>
		<script src="js/jquery/jquery-ui.js"></script>
		<script src="js/jquery/widget.js"></script>
		<script src="js/jquery/modules/carousel/carousel.js"></script>
		<script src="js/jquery/modules/carousel/carouselPager.js"></script>
		<script>
			$(document).ready(function () {
				$('[data-carousel="true"]').carousel();
				$('[data-carousel-pagination="true"]').carouselPager();
			});
		</script>
	{{/content}}
{{/extend}}