---
title: "Forms"
order: 04
type: Component
---

{{#extend "tpl_default"}}
	{{#content "body"}}

		<form class="c-form validate-ui" action="#" method="get">
			{{#form__address-header}}
				{{partial "c-form"}}
			{{/form__address-header}}

			{{#form__address-bill}}
				{{partial "c-form"}}
			{{/form__address-bill}}

			{{#form__address-submit}}
				{{partial "c-form"}}
			{{/form__address-submit}}
		</form>

	{{/content}}
{{/extend}}
