/* ---------------------------------------------------
Base styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
}
<% if (features && features.length > 0 && features.indexOf('installDemoContent') != -1) { %>
/* ---------------------------------------------------
Demo Styles
--------------------------------------------------- */
 body {
 	color: #333;
 	background: #eee;
 }

h1,
h2,
h3,
h4 {
	font-family: $font-family;
}

p,
ul,
li {
	font-family: $font-family;
	font-weight: normal;
	line-height: 2.2rem;

	margin-bottom: 1rem;

	@include rem("font-size", 17px);
}

.header {
	position: relative;

	border-bottom: 1px solid #fff;
	background: rgba(#999, 0.5);
}

.logo {
	width: auto;
	padding: 2rem;

	text-align: center;

	@include max-bp($mobile) {
		text-align: right;
	}

	.logo__symbol {
		&:hover {
		}
		img {
			width: 50px;
			height: auto;
		}
	}
}

#site-wrapper {
	height: 100%;
}

.container {
	padding: 0 1em;
	width: $max-width;
	margin: 0 auto;

}

.canvas {
	border-top: 1px solid #fff;
}

.main__container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.article {
	width: 78%;
	margin-right: 2%;
	@include max-bp($mobile) {
		width: 100%;
	}
	h1 {
		font-size: 2.8rem;
		font-weight: bold;
		line-height: 3.9rem;

		display: block;

		margin-bottom: 2rem;

		color: lighten($color-logo, 5);
	}
	h2 {
		font-size: 2.3rem;
		font-weight: bold;
		line-height: 3rem;

		margin: 2rem 0;

		color: #333;
	}
	h3 {
		font-size: 2rem;
		font-weight: normal;
		line-height: 3rem;

		margin: 3.5rem 0;
		padding-top: 2.75rem;

		text-transform: uppercase;

		color: #333;
		border-top: 1px solid #fff;
	}
	a {
		text-decoration: none;

		color: $color-logo;
		background: lighten($color-logo, 65);

		&:hover {
			color: #eee;
			background: $color-logo;
		}
	}
	strong,
	b {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	ul,
	ol {
		margin-left: 3rem;
		li {
			line-height: 2rem;

			margin: 0.5rem 0;
		}
	}
	ul {
		list-style: square;
	}
	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;

		list-style: decimal;
	}
}

<% } %>