/* ---------------------------------------------------
Base styles
--------------------------------------------------- */
html {
	font-size: 62.5%;

	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
}
<% if (features && features.length > 0 && features.indexOf('installDemoContent') != -1) { %>
/* ---------------------------------------------------
Demo Styles
--------------------------------------------------- */
 body {
 	color: #333;
 	background: #eee;
 }

h1,
h2,
h3,
h4 {
	font-family: $font-family;
}

p,
ul,
li {
	font-family: $font-family;
	font-weight: normal;
	line-height: 2.2rem;

	margin-bottom: 1rem;

	@include rem("font-size", 17px);
}

.b-header {
	position: relative;

	border-bottom: 1px solid #fff;
	background: rgba(#999, 0.5);
}

.b-logo {
	width: auto;
	padding: 2rem;

	text-align: center;

	@include max-bp($mobile) {
		text-align: right;
	}

	.logo__symbol {
		&:hover {
		}
		img {
			width: 50px;
			height: auto;
		}
	}
}

#site-wrapper {
	height: 100%;
}

.container {
	padding: 0 1em;
	width: $max-width;
	margin: 0 auto;

}

.canvas {
	border-top: 1px solid #fff;
}

.main__container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

<% } %>