<% if (cssLibs && cssLibs.length > 0 && cssLibs.indexOf('neat') != -1) { %>
@import "../../bower-components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 73px;
$gutter: 22px;
$grid-columns: 12;
$max-width: 1138px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
<% } else { %>
<% } %>

<% if (features && features.length > 0 && features.indexOf('installDemoContent') != -1) { %>
<% if (cssLibs && cssLibs.length > 0 && cssLibs.indexOf('neat') != -1) { %><% } else { %>
$max-width: 1138px;

// Define your breakpoints
$tablet: 768px;
$mobile: 480px;
<% } %>
// Demo Vars
$color-validate-error: #e70000;
$color-logo: #272727;
$font-family: 'Helvetica', 'Arial', sans-serif;
<% } %>