---
title: Carousel with BackboneJS
type: Module
---
{{#extend "tpl_default"}}

	{{#content "body"}}
		<article>
			<h2 id="custom-carousel-examples">Custom Carousel Examples</h2>

			<p>These Examples show some personal best practices. It provides a way:</p>
			<ul class="list">
				<li>to structure your files in components</li>
				<li>to split data from templates</li>
				<li>to pass options via parseJSON to your components</li>
			</ul>
		</article>

		{{#with carousel-01}}

			{{#parseJSON
			'{
				"carousel-id": "gallery-01",
				"carousel-pagination": true,
				"carousel-type": "article",
				"carousel-class": "custom-class",
				"limit-start": "0",
				"limit-end": "3",
				"article-header": true,
				"article-summary": "150"
			}'
			}}

				{{partial "m-carousel" ../this}}

			{{/parseJSON}}

		{{/with}}

		{{#with carousel-02}}

			{{#parseJSON
			'{
				"carousel-id": "gallery-02",
				"carousel-autoscroll": "true",
				"carousel-pagination": true,
				"carousel-type": "figure",
				"carousel-class": "custom-figure-class",
				"limit-start": "0",
				"limit-end": "5"
			}'
			}}

				{{partial "m-carousel" ../this}}

			{{/parseJSON}}

		{{/with}}

	{{/content}}

	{{#content "scripts" mode="append"}}
		<script data-main="js/backbone/Carousel/main" src="js/vendor/require.js"></script>
	{{/content}}

{{/extend}}