---
bodyclass: front
title: Prototype Deluxe
lead: Welcome to your own prototype!
---

<h1> {{{ title }}} </h1>
<h2 class="lead"> {{{ lead }}} </h2>
<img src="http://static1.wikia.nocookie.net/__cb20111117210549/fantendo/images/1/1b/Luigi_ps_28Mario_Party_DS_ps_29.png" alt=""/>
