---
title: Article
---

<h1>{{title}}</h1>
<article>
    <h2>This site uses a custom helper to generate content in a for loop!</h2>
     {{#times 10}}
         <div class="teaser">
             <h2>this is my title</h2>
             <p>
                 This is just a demo content to show you how to integrate external data
             </p>
         </div>
     {{/times}}
</article>

<article>
    <h2>Wanna output your data from external files?</h2>
    <div class="teaser">
        <h2>{{article.titles.title01}}</h2>
        <p>
             {{article.contents.content01}}
        </p>
    </div>
</article>
