---
bodyclass: front
title: Build Forms
sortOrder: 02
menuLink: Forms
lead: Scaffold forms with JSON files.
---


<% if (features && features.length > 0 && features.indexOf('installExtendedLayout') != -1) { %>
{{#extend "tpl-default"}}
	{{#content "body"}}

		{{#forms.data}}
			{{partial "c-article" }}
		{{/forms.data}}

		<form id="custom-form" class="validate-ui form" action="" method="get">

			{{#each form--elements.data }}
				{{> c-form }}
			{{! partials/components/forms/ }}
			{{/each}}

			<fieldset>
				<div class="form-row">
					<button class="cta-button">Send</button>
				</div>
			</fieldset>

		</form>

	{{/content}}
{{/extend}}
<% } else { %>
{{#forms.data}}
	{{partial "c-article" }}
{{/forms.data}}

<form id="custom-form" class="validate-ui form" action="" method="get">

	{{#each form--elements.data }}
		{{> c-form }}
	{{! partials/components/forms/ }}
	{{/each}}

	<fieldset>
		<div class="form-row">
			<button class="cta-button">Send</button>
		</div>
	</fieldset>

</form>
<% } %>
