$fx-out: slide-moveToLeft slide-moveToRight slide-moveToTop slide-moveToBottom slide-moveFromLeftFade slide-moveFromRightFade slide-moveFromTopFade slide-moveFromBottomFade slide-flipOutRight slide-flipOutLeft slide-flipOutTop slide-flipOutBottom slide-rotateOutNewspaper slide-rotatePushLeft slide-rotatePushRight slide-rotatePushTop slide-rotatePushBottom slide-rotateUnfoldLeft slide-rotateUnfoldRight slide-rotateUnfoldTop slide-rotateUnfoldBottom slide-rotateRoomLeftOut slide-rotateRoomRightOut slide-rotateRoomTopOut slide-rotateRoomBottomOut slide-rotateCubeLeftOut slide-rotateCubeRightOut slide-rotateCubeTopOut slide-rotateCubeBottomOut slide-rotateCarouselLeftOut slide-rotateCarouselRightOut slide-rotateCarouselTopOut slide-rotateCarouselBottomOut slide-rotateSidesOut slide-rotateSlideOut;
$fx-in: slide-moveFromLeft slide-moveFromRight slide-moveFromTop slide-moveFromBottom slide-moveToLeftFade slide-moveToRightFade slide-moveToTopFade slide-moveToBottomFade slide-moveToLeftEasing slide-moveToRightEasing slide-moveToTopEasing slide-moveToBottomEasing slide-scaleDown slide-scaleUp slide-scaleUpDown slide-scaleDownUp slide-scaleDownCenter slide-scaleUpCenter slide-rotateRightSideFirst slide-rotateLeftSideFirst slide-rotateTopSideFirst slide-rotateBottomSideFirst slide-flipInLeft slide-flipInRight slide-flipInBottom slide-flipInTop slide-rotateFall slide-rotateInNewspaper slide-rotatePullRight slide-rotatePullLeft slide-rotatePullTop slide-rotatePullBottom slide-rotateFoldRight slide-rotateFoldLeft slide-rotateFoldTop slide-rotateFoldBottom slide-rotateRoomLeftIn slide-rotateRoomRightIn slide-rotateRoomTopIn slide-rotateRoomBottomIn slide-rotateCubeLeftIn slide-rotateCubeRightIn slide-rotateCubeTopIn slide-rotateCubeBottomIn slide-rotateCarouselLeftIn slide-rotateCarouselRightIn slide-rotateCarouselTopIn slide-rotateCarouselBottomIn slide-rotateSidesIn slide-rotateSlideIn;


.m-carousel {
	position: relative;

	float: left;

	width: 100%;
	height: 100%;
	margin: 25px 0;
	padding: 10px;

	border: 1px dotted #ccc;

	perspective: 1200px;
	.carousel__list {
		position: relative;

		overflow: hidden;

		margin: 0;

		list-style: none;
	}
	.carousel__list-item {
		position: absolute;
		top: 0;
		left: 0;

		visibility: hidden;
		overflow: auto;

		width: 100%;

		list-style: none;

		transform: translate3d(0, 0, 0);

		backface-visibility: hidden;
		transform-style: preserve-3d;
		&.current,
		&.active {
			visibility: visible;

			transition: left 250ms ease-out;
		}
		@each $fx in $fx-in {
			&.#{$fx} {
				z-index: 1;
			}
		}
		@each $fx in $fx-out {
			&.#{$fx} {
				z-index: 0;
			}
		}
	}
	.carousel__pagination {
		position: relative;

		width: 100%;
		.carousel__pagination-wrapper {
			text-align: center;
		}
		.carousel__pagination-list {
			font-size: 0;
			line-height: 0;

			display: inline-block;
		}
		.carousel__pagination-item {
			display: inline-block;

			width: 15px;
			height: 15px;
			margin: 0 4px;

			cursor: pointer;

			border: 1px solid darken(#f1f1f1, 45%);
			border-radius: 15px;
			background-color: darken(#f1f1f1, 45%);
			&.active {
				background-color: #fff;
			}
		}
		.carousel__pagination-next,
		.carousel__pagination-prev {
			position: absolute;
			z-index: 1;
			top: 0;

			padding: 0;

			cursor: pointer;

			border: 0;
			background-color: transparent;
			span {
				display: inline-block;
			}
			&:hover,
			&:focus {
				outline: 0;
			}
		}
		.carousel__pagination-next {
			right: 0;

			content: ">";
		}
		.carousel__pagination-prev {
			left: 0;

			content: "<";
		}
	}
}
