---
component: sitemap
---

{{! USED IN:
	* pages/index.hbs
}}
<ul>
	{{#withSort pages "data.title"}}
		<li>
			<a href="{{relative ../page.dest this.dest}}">{{data.title}}</a>
		</li>
	{{/withSort}}
</ul>