---
component: teaser-text-img
---
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt="Stay calm" />
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>