---
component: teaser-text-img
---
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="img/temp/rubyvspython.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>