---
component: teaser-text-img
---
<div class="teaser teaser-img">
	<h2>Image Teaser</h2>
	<img src="http://i.imgur.com/7VwkxBM.gif" alt="Stop the loop" />
	<p>when a loop doesn’t want to stop.</p>
</div>