.b-logo {
	width: auto;
	padding: 2rem;

	text-align: center;

	@include breakpoint($mobile) {
		text-align: right;
	}

	.logo__symbol {
		&:hover {
		}
		img {
			width: 50px;
			height: auto;
		}
	}
}