/* ---------------------------------------------------
Demo Styles - just delete them
--------------------------------------------------- */
body {
	background: #f4f4f4;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
}

.navbar {
	background: #222;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 20%;
	a {
		background: #444;
		color: #fff;
		display: block;
		font-weight: normal;
		margin-bottom: 1px;
		padding: 0.5em 1em;
		text-align: right;
		text-decoration: none;
		&:hover {
			background: yellowgreen;
			color: #333;
		}
		&.navbar-brand {
			background: none;
			display: block;
			font-weight: bold;
			text-align: right;
			text-transform: uppercase;
			&:hover {
				color: yellowgreen;
			}
		}
	}
	li {
		&.active {
			a, a:hover {
				background: yellowgreen;
				color: #333;
			}
		}
	}
}

h2 {
	color: yellowgreen;
	font-weight: bold;
	margin: 1em 0;
}

#main {
	margin-left: 25%;
	width: 60%;
	h1 {
		font-size: 150%;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	img {
		height: auto;
		margin: 1em;
		max-width: 100%;
	}
	ul {
		margin-left: 1em;
		margin-top: 1em;
		li {
			font-size: 120%;
			line-height: 145%;
			list-style: circle;
			margin-left: 1em;
			a {
				color: #666;
				text-decoration: none;
			}
		}
	}
}

article {
	clear: both;
	margin-bottom: 1em;
	position: relative;
}

/* Teaser

Primary teaser styles

Markup:
<div class="teaser">
    <h2>this is my title</h2>
    <p>
        This is just a demo content to show you how to integrate external data
    </p>
</div>

.teaser - Standard class for teaser elements
h2 - Displays h2 in teasers

Styleguide 1
*/
.teaser {
	background: #d4d4d4;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0 3% 1em 0;
	padding: 0.5em;
	width: 30%;
	&:nth-child(3n + 1) {
		margin-right: 0;
		clear: right;
	}
	&:nth-child(3n + 2) {
		clear: left;
	}
	h2 {
		color: black;
		margin: 0.35em;
	}
}