<% if (cssLibs && cssLibs.length > 0) { if (cssLibs.indexOf('neat') != -1) { %>
@import "../../bower_components/neat/app/assets/stylesheets/neat-helpers"; 

// Change the grid settings
$column: 90px;
$gutter: 30px;
$grid-columns: 12;
$max-width: em(980);

// Define your breakpoints
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
<% }} %>
// Colors
$color-validate-error: red;