---
component: drupal-search
---
<!-- Drupal search component
================================================== -->
<section id="block-search-form" class="block block-search">
    <div class="content">
        <form action="/" method="post" id="search-block-form"
              accept-charset="UTF-8">
            <div>
                <div class="container-inline">
                    <h2 class="element-invisible">Suchformular</h2>

                    <div class="form-item form-type-textfield form-item-search-block-form">
                        <label class="element-invisible"
                               for="edit-search-block-form--1">Suche </label>
                        <input title="Geben Sie die Begriffe ein, nach denen Sie suchen."
                               placeholder="Suchen..."
                               type="search"
                               id="edit-search-block-form--1"
                               name="search_block_form"
                               value=""
                               size="15"
                               maxlength="128"
                               class="form-text"
                               autocomplete="off"
                               role="textbox"
                               aria-autocomplete="list"
                               aria-haspopup="true">
                    </div>
                    <div class="form-actions form-wrapper" id="edit-actions--1">
                        <input type="image"
                               id="edit-submit--1"
                               name="submit"
                               src="/sites/all/themes/createit/img/btn_search.png"
                               class="form-submit">
                    </div>
                    <input type="hidden"
                           name="form_build_id"
                           value="">
                    <input type="hidden" name="form_id" value="search_block_form">
                </div>
            </div>
        </form>
    </div>
</section>