<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test Document</title>
</head>
<body>

<!-- replace with js you use in production -->
<script src="demo.test.js"></script>
<script>
    // call method addDivWithClassTest loaded from
    // demo.test.js
    addDivWithClassTest(document.body);
</script>
</body>
</html>