<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
	<% if (installExtendedLayout === true || templateEngine.indexOf('mangony') !== -1) { %>
	{{#block "metadata"}}
		{{> _metadata }}
	{{/block}}
	{{#block "styles"}}
		{{> _styles }}
	{{/block}}
	<% } else { %>
	{{> _metadata }}
	{{> _styles }}
	<% } %>
</head>

<body class="{{bodyclass}}">
	<% if (installExtendedLayout === true || templateEngine.indexOf('mangony') !== -1) { %>
	{{#block "main"}}{{/block}}
	<% } else { %>
	{{> body }}
	<% } %>
	<!-- Scripts
	================================================== --> <% if (installExtendedLayout === true || templateEngine.indexOf('mangony') !== -1) { %>
	{{#block "scripts"}}
		{{> _scripts }}
	{{/block}}
	<% } else { %>
	{{> _scripts }}
	<% } %>
</body>
</html>