<div class="carousel__pagination" data-carousel-pagination="true" data-carousel="#{{carousel-id}}">
	<div class="carousel__pagination-wrapper">
		<ul class="carousel__pagination-list" data-carousel-pagination="list">
			<li class="carousel__pagination-item" data-carousel-pagination="list-item"></li>
		</ul>
	</div>
	<button class="carousel__pagination-prev" data-carousel-pagination="prev"><span>Previous</span></button>
	<button class="carousel__pagination-next" data-carousel-pagination="next"><span>Next</span></button>
</div>