/******************************************
	Grunticon mixin
	usage: @include grunticon(filename);
******************************************/
@mixin grunticon($name) {
	@extend %icon-data-svg-#{$name};
	//   @at-root .ie8 & {
	// 	     @extend %icon-data-png-#{$name};
	//   }
	.lt-ie9 & {
		@extend %icon-png-#{$name};
	}
}