/******************************************

	Breakpoints

******************************************/
@mixin max-bp($max, $min: "") {
	@if $min != "" {
		@media only screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else {
		@media only screen and (max-width: $max) {
			@content;
		}
	}
}