.r-sidebar {
	width: 30%;
	@include breakpoint($mobile) {
		margin: 2rem 0;

		width: 100%;
	}

	&.is-right {
		float: right;

		margin-right: 0;
	}

	h2,
	h3 {
		font-family: $font-family;
		font-size: 2rem;

		margin-bottom: 1rem;
	}
}