<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

{{> _head }}

<body class="{{ bodyclass }}">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
     your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
     improve your experience.</p>
<![endif]-->

<!-- Navbar
================================================== -->
{{> _nav }}

<!-- Subhead
================================================== -->
<header class="masthead subhead">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1> {{ title }} </h1>
            </div>
        </div>
    </div>
</header>

<!-- Page content
================================================== -->
<div class="container" id="main">
    <h1> {{{ title }}} </h1>
    <h2 class="lead"> {{{ lead }}} </h2>
    {{> body }}
</div>

</body>
</html>