<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

{{> _head }}

<body class="{{ bodyclass }}">

	<!-- Navbar
	================================================== -->
	{{> _nav }}

	<!-- Subhead
	================================================== -->
	<header class="masthead subhead">
		<div class="container">
			<div class="row">
				<div class="col col-lg-12">
					<h1> {{ title }} </h1>
				</div>
			</div>
		</div>
	</header>

	<!-- Page content
	================================================== -->
	<div class="container" id="main">
		<h1> {{{ title }}} </h1>

		<h2 class="lead"> {{{ lead }}} </h2>
		{{> body }}
	</div>

	<% if (jsLibs && jsLibs.length > 0) { %>
	<!-- Scripts
		================================================== -->
	{{> _scripts }}
	<% } %>
</body>
</html>