import { Veams } from './app.veams';<% if (projectType === 'single-page-app') { %>
import React from 'react';
import ReactDOM from 'react-dom';
import { BrowserRouter } from 'react-router-dom';
import { renderRoutes } from 'react-router-config';<% if (jsLibs.indexOf('redux') !== -1) { %>
import { Provider } from 'react-redux';<% } %>
import routes from './app.routes';<% if (jsLibs.indexOf('redux') !== -1) { %>
import store from './app.store';<% } %><% } %>
<% if (projectType === 'single-page-app') { %>
/**
* Init app
*/
ReactDOM.render(<% if (jsLibs.indexOf('redux') !== -1) { %>
    <Provider store={store}><% } %>
        <BrowserRouter>
            <div className="app">{renderRoutes(routes)}</div>
        </BrowserRouter><% if (jsLibs.indexOf('redux') !== -1) { %>
    </Provider><% } %>,
    document.querySelector('#root')
);<% } %> <% if (projectType === 'static-page-app') { %>
// Initialize modules with Veams
// @INSERTPOINT :: @ref: js-init-v5, @keep: true //
// @INSERTPOINT :: @ref: js-init-once-v5, @keep: true //
<% } %>