/**
* Main entry file for application.
*/
import { Veams } from './app.veams';<% if (projectType === 'single-page-app') { %>
import React from 'react';
import ReactDOM from 'react-dom';
import { renderRoutes } from 'react-router-config';<% if (jsLibs.indexOf('redux') !== -1) { %>
import { Provider } from 'react-redux';
import { ConnectedRouter as Router } from 'react-router-redux';<% } else { %>
import { BrowserRouter as Router } from 'react-router-dom';<% } %>
import routes from './app.routes';<% if (jsLibs.indexOf('redux') !== -1) { %>
import store, { history } from './app.store';<% } %><% } %>
<% if (projectType === 'single-page-app') { %>
/**
* Render application
*/
ReactDOM.render(<% if (jsLibs.indexOf('redux') !== -1) { %>
    <Provider store={store}><% } %>
        <Router<% if (jsLibs.indexOf('redux') !== -1) { %> history={history}<% } %>>
            <div className="app">{renderRoutes(routes)}</div>
        </Router><% if (jsLibs.indexOf('redux') !== -1) { %>
    </Provider><% } %>,
    document.querySelector('#root')
);<% } %> <% if (projectType === 'static-page-app') { %>
// Initialize modules with Veams
// @INSERTPOINT :: @ref: js-init-modules-@1, @keep: true //
// @INSERTPOINT :: @ref: js-init-once, @keep: true //
<% } %>