.c-article {
	h1 {
		font-size: 2.8rem;
		font-weight: bold;
		line-height: 3.9rem;

		display: block;

		margin-bottom: 2rem;

		color: lighten($color-logo, 5);
	}
	h2 {
		font-size: 2.3rem;
		font-weight: bold;
		line-height: 3rem;

		margin: 2rem 0;

		color: #333;
	}
	h3 {
		font-size: 2rem;
		font-weight: normal;
		line-height: 3rem;

		margin: 3.5rem 0;
		padding-top: 2.75rem;

		text-transform: uppercase;

		color: #333;
		border-top: 1px solid #fff;
	}
	a {
		text-decoration: none;

		color: $color-logo;
		background: lighten($color-logo, 65);

		&:hover {
			color: #eee;
			background: $color-logo;
		}
	}
	strong,
	b {
		font-weight: bold;
	}
	em {
		font-style: italic;
	}
	ul,
	ol {
		margin-left: 3rem;
		li {
			line-height: 2rem;

			margin: 0.5rem 0;
		}
	}
	ul {
		list-style: square;
	}
	ol {
		margin-top: 1rem;
		margin-bottom: 1rem;

		list-style: decimal;
	}
}