<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7"/>
<meta name="viewport" content="width=device-width"/>
<title>{{title}} | {{config.title}}</title>
<link rel="shortcut icon" href="{{assets}}img/favicon.ico" type="image/x-icon">
<link rel="icon" href="{{assets}}img/favicon.ico" type="image/x-icon">