---
title: Build Better Prototypes with Veams
menuLink: Home
sortOrder: 01
---
<% if (installExtendedLayout == true || templateEngine.indexOf('mangony') !== -1) { %>
{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>Place your content here!</h3>
	{{/content}}
{{/extend}}
<% } else { %>
<h3>Place your content here!</h3>
<% } %>