---
title: Build Better Prototypes with PG
menuLink: Home
sortOrder: 01
---
<% if (installExtendedLayout == true) { %>
{{#extend "lyt-default"}}
	{{#content "body"}}
		<h3>Place your content here!</h3>
	{{/content}}
{{/extend}}
<% } else { %>
<h3>Place your content here!</h3>
<% } %>