---
title: Build Better Prototypes with Veams
menuLink: Components
sortOrder: 02
---
<% if (installExtendedLayout == true) { %>
{{#extend "lyt-default"}}
	{{#content "main"}}
		<h3>Place your components here!</h3>

		{{! @INSERTPOINT :: @ref: component-partial }}
	{{/content}}
{{/extend}}
<% } else { %>
<h3>Place your components here!</h3>

{{! @INSERTPOINT :: @ref: component-partial }}

<% } %>