---
component: navbar
---

<nav class="navbar" id="site-menu">
	<h2>Navigation</h2>
	<ul class="nav navbar__nav">
		{{#withSort pages 'data.sort-order'}}
				<li>
					<a href="{{relative ../../page.dest this.dest}}" {{#is ../../page.dest this.dest}} class="active"{{/is}}>{{data.menu-link}}</a>
				</li>
		{{/withSort}}
	</ul>
</nav>