---
block: sitemap
---

{{! USED IN:
	* pages/index.hbs
}}
<div class="b-sitemap">
	<ul class="sitemap__list">
		{{#withSort pages 'data.sortOrder'}}
			<li>
				<a href="{{autolink}}" {{#is ../page.dest this.dest}} class="active"{{/is}}>{{data.menuLink}}</a>
			</li>
		{{/withSort}}
	</ul>
</div>
