---
component: article--form-general
---
<h2>Want to use just one template for mulitple forms or form elements?</h2>
<p>Just generate it with JSON and the provided form template <strong>(see partial/modules/form-tpl.hbs)</strong>.</p><br/>

<form id="custom-form" class="validate-ui form-wrapper" action="" method="get">

	{{! data/forms/form--example.json }}
	{{#each form--example.template.fieldsets }}

	{{! partials/modules/ }}
		{{> _form-tpl }}
	{{/each}}

	<fieldset>
		<div class="form-row">
			<button class="cta-button">Send</button>
		</div>
	</fieldset>

</form>