<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />
    <meta name="viewport" content="width=device-width" />
    <title>Article | My new project</title>

    <link rel="stylesheet" href="./css/styles.css" />

    <!-- [if lt IE 8]>
     <link rel="stylesheet" href="./css/ie8.css" />
    <![endif]-->
	
	<!-- Scripts
	================================================== -->
	
	<script src="bower_components/jquery/dist/jquery.js"></script>


	
</head>

<body class="">
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
     your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
     improve your experience.</p>
<![endif]-->

<!-- Navbar
================================================== -->


<div class="navbar navbar-fixed-left">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="../index.html">Frontpage</a>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav pull-right">
		        
			        <li>
				        <a href="forms.html">Forms</a>
			        </li>
		        
			        <li>
				        <a href="index.html">Prototype Deluxe</a>
			        </li>
		        
			        <li>
				        <a href="subpage.html">Article</a>
			        </li>
		        
	        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Subhead
================================================== -->
<header class="masthead subhead">
    <div class="container">
        <div class="row">
            <div class="col col-lg-12">
                <h1> Article </h1>
            </div>
        </div>
    </div>
</header>

<!-- Page content
================================================== -->
<div class="container" id="main">
    <h1> Article </h1>
    <h2 class="lead">  </h2>
    


<article>
	<h2>This site uses json files to get the content!</h2>
	

	
		<div class="teaser">
			<h2>this is my title</h2>

			<p>This is just a demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is another title</h2>

			<p>And another demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is my title</h2>

			<p>This is just a demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is another title</h2>

			<p>And another demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is my title</h2>

			<p>This is just a demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is another title</h2>

			<p>And another demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is my title</h2>

			<p>This is just a demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is another title</h2>

			<p>And another demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is my title</h2>

			<p>This is just a demo content to show you how to integrate external data</p>
		</div>
	
		<div class="teaser">
			<h2>this is another title</h2>

			<p>And another demo content to show you how to integrate external data</p>
		</div>
	


</article>


<article>
	<h2>Wanna use custom helpers like loops?</h2>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
		
<div class="teaser teaser-img">
	<h2>My image teaser</h2>
	<img src="http://i.imgur.com/ZVpRljJ.gif" alt=""/>
	<p>When my colleague tells me Ruby is just like Python.</p>
</div>
	
</article>
</div>

</body>
</html>