---
component: Article Header
---

<header class="article__header">

	{{#if article-date }}
		<time datetime="{{article-datetime}}">{{article-date}}</time>
	{{/if}}

	{{#if article-h1 }}
		<h1>{{ article-h1 }}</h1>
	{{/if}}

	{{#if article-h2 }}
		<h2>{{ article-h2 }}</h2>
	{{/if}}

</header>