/******************************************
	Breakpoints
******************************************/
@mixin breakpoint($max, $min: "") {
	@if $min != "" {
		@media only screen and (min-width: $min) and (max-width: $max) {
			@content;
		}
	} @else {
		@media only screen and (max-width: $max) {
			@content;
		}
	}
}

/******************************************

	Grunticon mixin
	usage: @include grunticon(icon-my-svg);

******************************************/

@mixin grunticon($name) {
	@extend %icon-data-svg-#{$name};
//   @at-root .ie8 & {
// 	     @extend %icon-data-png-#{$name};
//   }
	.lt-ie9 & {
		@extend %icon-png-#{$name};
	}
}