---
title: Documentation
docs: true
---

<p>
	The docs platform provides a complete development solution for your web application.
	Here you define your code examples and describe your modules/partials/components of your website.
</p>